body {
    font-family: Arial;
    font-size: 12px;
    padding: 5%;
    text-align: center;
}


h2 {
    color: fuchsia;
}

.btn {
    color: white;
    background-color: rgb(105, 105, 161);
    font-weight: bold;
    padding: 5px;
}

.btn-secondary {
background-color: rgb(255, 209, 58);
}

#first {
    border-top: 1px solid rgb(75, 68, 68);
}

img {
    
    max-height: 100%;
}

#box {

    /* box-sizing: border-box; */

    background-color: rgb(69, 123, 133);
    height: 100px;
    width: 100px;
    padding: 25px;
    border: 10px solid rgb(121, 145, 121);
    margin: auto;

    border-radius: 50%;
}

.img-wrapper {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}